/* ---------- CHARACTER-DETAILS ---------- */

@import url("../FavIcons/index.css");

.main-container {
  min-height: 80vh;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 20px 0 30px;
}

.character-container {
  width: 80vh;
  height: auto;
  min-height: 60vh;
  background-color: rgb(70, 69, 69);
}

.character-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.character-card {
  padding: 1vw;
  margin: auto;
  width: 15vw;
  position: relative;
}

.picture-container {
  cursor: pointer;
}

.character-picture {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pagination-container {
}
