/* ---------- FAV-ICONS ---------- */

.bolt-container {
  border: 1px white solid;
  padding: 6px 3px 2px 4px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.bolt {
  color: rgb(161, 160, 160);
}

.bolt:hover {
  color: goldenrod;
}
