/* ---------- COMICS-DETAILS ---------- */

@import url("../FavIcons/index.css");

.main-container {
  min-height: 80vh;
}

h1 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 70px;
  margin: 30px 0 30px;
  color: rgb(40, 107, 152, 0.9);
}

.comics-container {
  margin: 0 10%;
  height: auto;
  min-height: 60vh;
  background-color: rgb(70, 69, 69, 0.8);

  border-radius: 15px;
}

.comics-list {
  margin: 30px auto auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.comics-card {
  padding: 0.8vw;
  margin: auto;
  width: 235px;
  position: relative;
}

.picture-container {
  cursor: pointer;
}

.comics-picture {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
