/* ---------- HEADER ---------- */

.header {
  width: 100vw;
  height: 70px;
  margin: auto;
}

/* ----- Header-Top ----- */
.header-top {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 33%;
  cursor: pointer;
  height: 50px;
  box-sizing: border-box;
  margin: auto;
}

.logo {
  height: 60px;
  margin-left: 50px;
}

.navigation-container {
  width: 33%;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.navigation li {
  text-align: center;
  font-weight: 700;
  color: white;
}

.navigation li:hover {
  background-color: rgb(230, 197, 197);
}

.login-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.login-button {
  background-color: #f11e22;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #e0686a;
}

/* ----- Media-Queries ----- */
