/* ----- SEARCH ----- */

.search-section {
  height: 50%;
  background-color: #f11e22;
}

.search-container {
  padding: 0, 15%;
}

.form-container {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: auto;
}

.input-search {
  border-radius: 5px;
  width: calc(60vw - 100px);
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
  background-color: rgb(82, 78, 78);
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: none;
}
